.container {
    padding: 3% 20%;
}

button {
    float: right;
    margin-bottom: 1% !important;
}

h4 {
    clear: right;
}

.list {
    padding: 1% 12% 1% 5%;
}

.indexRow {
    border-style: solid;
    border-width: medium;
    border-radius: 5px;
    padding: 2% 3% 1%;
    margin: 0 2% 2%;
}

.hide {
    visibility: hidden;
}

@media only screen and (max-width: 576px) {
  .indexRow {
      padding: 3%;
  }
}

@media only screen and (max-width: 700px) {
    .container {
        padding: 3% 10%;
    }
}
