<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">

    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <script src = "https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js" integrity="sha512-csNcFYJniKjJxRWRV1R7fvnXrycHP6qDR21mgz1ZP55xY5d+aHLfo9/FcGDQLfn2IfngbAHd8LdfsagcCqgTcQ==" crossorigin = "anonymous" referrerpolicy = "no-referrer"> </script>
    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Scan8</title>
</head>
<body>
<div id="p1">

	</div>
    <div class="container">

        <h1>Scan8</h1>
        <button type="button" name="button" class="btn btn-outline-secondary" onclick="openUploader()">New Scan</button>

        <h4>Queued Scans</h4>
        <div id="queue" class="list">
 
        </div>

        <h4>Running Scans</h4>
        <div id="running" class="list">
         
        </div>

        <h4>Completed Scans</h4>
        <div id="completed" class="list">
        </div>
    </div>
	
    <script>
        function openUploader() {
            window.location = "{{ newScanUrl }}";
        }
    </script>

   <script>
      function CreateTextFile(data) {
         var blob = new Blob([data], {
            type: "text/plain;charset=utf-8",
         });
         saveAs(blob, "Report.txt");
      }
   </script>

    <script>
        var source = new EventSource("/progress");
        source.onmessage = function(event) {
            var data = JSON.parse(event.data);

            for(id in data) {
                var bar = document.getElementById(id);
                bar.style.width = data[id]+'%';
            }
        }
    </script>
    <script>
        var source = new EventSource("/progress");
        source.onmessage = function(event) {
            var data = JSON.parse(event.data);

            for(id in data) {
                var bar = document.getElementById(id);
                bar.style.width = data[id]+'%';
            }
        }
        
    </script>
    <script>
    function Status(){
    	const xhr = new XMLHttpRequest();
		xhr.open("GET", "/status");
		xhr.send();
		xhr.responseType = "json";
		xhr.onload = () => {
		  if (xhr.readyState == 4 && xhr.status == 200) {
			Status_update(xhr.response);
		  } else {
			console.log(`Error: ${xhr.status}`);
		  }
		};    
		}
	window.onload = Status;
	var myInterval = setInterval(Status, 2000);
    </script>
        <script>
    function Status_update(resp){
    	document.getElementById("queue").innerHTML = resp["prequeued"];
    	document.getElementById("running").innerHTML = resp["running"];
    	document.getElementById("completed").innerHTML = resp["completed"];
		}
    </script>

</body>

</html>
