<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">

    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Scan8</title>
</head>

<body>
    <div class="container">


        <h1>Scan8</h1>
        <button type="button" name="button" class="btn btn-outline-secondary" onclick="openUploader()">New Scan</button>

        <h4>Queued Scans</h4>
        <div class="list">
            {% for item in prequeued %}
            <div class="indexRow row">
                <div class="col-sm">
                    <h6>Scan #{{ item["_id"] }}</h6>
                    <h6>Submitted: {{ item["submitTime"]["date"] }} {{ item["submitTime"]["time"] }}</h6>
                </div>
                <div class="col-sm">
                    <h6>Size: {{ item['size'] }}</h6>
                    <h6>Number of files: {{ item['files']['total'] }}</h6>
                </div>
                <div class="col-sm-5">
                    <div class="progress">
                        <div id={{ item["_id"] }} class="progress-bar" style="width: 0%;"></div>
                    </div>
                </div>
            </div>
            {% endfor %}

            {% for item in queued %}
            <div class="indexRow row">
                <div class="col-sm">
                    <h6>Scan #{{ item["_id"] }}</h6>
                    <h6>Submitted: {{ item["submitTime"]["date"] }} {{ item["submitTime"]["time"] }}</h6>
                </div>
                <div class="col-sm">
                    <h6>Size: {{ item['size'] }}</h6>
                    <h6>Number of files: {{ item['files']['total'] }}</h6>
                </div>
                <div class="col-sm-5">
                    <div class="progress">
                        <div id={{ item["_id"] }} class="progress-bar" style="width: 0%;"></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <h4>Running Scans</h4>
        <div class="list">
            {% for item in running %}
            <div class="indexRow row">
                <div class="col-sm">
                    <h6>Scan #{{ item["_id"] }}</h6>
                    <h6>Submitted: {{ item["submitTime"]["date"] }} {{ item["submitTime"]["time"] }}</h6>
                </div>
                <div class="col-sm">
                    <h6>Size: {{ item['size'] }}</h6>
                    <h6>Number of files: {{ item['files']['total'] }}</h6>
                </div>
                <div class="col-sm-5">
                    <div class="progress">
                        <div id={{ item["_id"] }} class="progress-bar" style="width: 0%;"></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <h4>Completed Scans</h4>
        <div class="list">
            {% for item in completed %}
            <div class="indexRow row">
                <div class="col-sm">
                    <h6>Scan #{{ item["_id"] }}</h6>
                    <h6>Submitted: {{ item["submitTime"]["date"] }} {{ item["submitTime"]["time"] }}</h6>
                </div>
                <div class="col-sm">
                    <h6>Size: {{ item['size'] }}</h6>
                    <h6>Number of files: {{ item['files']['total'] }}</h6>
                </div>
                <div class="col-sm-5">
                    <div class="progress">
                        <div id={{ item["_id"] }} class="progress-bar" style="width: 100%;"></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script>
        function openUploader() {
            window.location = "{{ newScanUrl }}";
        }
    </script>

    <script>
        var source = new EventSource("/progress");
        source.onmessage = function(event) {
            var data = JSON.parse(event.data);

            for(id in data) {
                var bar = document.getElementById(id);
                bar.style.width = data[id]+'%';
            }
        }
    </script>
    <script>
        setTimeout(function() {
          window.location.reload(1);
        }, 5000);
    </script>

</body>

</html>
